
/* titles style */

h1{
	color: #434343;
	font-size: 30px;
	font-family: 'Neucha', cursive;
	font-weight: bold;
	text-align: center;
	letter-spacing: 4px;
}
h2{
	color:#005792;
	font-size: 20px;
	font-family: Raleway, sans serif;
	font-weight: bold;
	text-align: center;
}
h3{
	color: #005792;
	font-size: 15px;
	font-family: Raleway, sans serif;
	font-weight: bold;
	text-align: center;
}
h4{
	color: #434343;
	font-size: 14px;
	font-family: Raleway, sans serif;
	font-weight: lighter;
	letter-spacing: 2px;
	text-align: center;
}
h5{
	color: #005792;
	font-size: 14px;
	font-family: Raleway, sans serif;
	font-weight: normal;
	letter-spacing: 2px;
	text-align: right;
	margin-bottom: 0px;
}
h5b{
	color: #005792;
	font-size: 14px;
	font-family: Raleway, sans serif;
	font-weight: normal;
	letter-spacing: 2px;
	text-align: left;
}
body{
	color: #434343;
	font-size: 14px;
	font-family: Raleway, sans serif;
	font-weight: lighter;
	background-color: #EEEEEE;
	width: 1200px;
	margin: 30px auto;
}

/* link style */

a{
	color: #a26ea1;
	text-decoration:none;
	transition:color 0.3s ease;
}
a:hover{
	color: #005792;
	text-decoration: none;
}

/* main style */

.card-pinkshadow{
background: white;
padding: 10px 60px 30px 60px;
border-radius: 10px;
box-shadow: 0 10px 30px rgba(195,180,210,1);
	}
.container{
	width: 700px;
	margin: 30px auto;
}
@media(min-width: 760px){
	.table-center{
		margin: 30px auto;
	}
}
@media(max-width: 760px){
	.container{
		width: 600px; 
	}
	#links{
		padding-left: 212px;
	}
	.table-center{
		margin: 20px auto;
	}
}
@media(max-width: 500px){
	.container{
		width: 400px;
	}
	.card-pinkshadow li{
		width: 400px;
	}
	#aboutme li{
		width: 400px;
		text-align: center;
	}
	#aboutme ul{
		width: 400px;
		text-align: center;
	}
	.flotteleft p{
		float: none;
	}
	.flotteright p{
		float: none;
	}
	#links li{
		padding-left: 0px;
		margin-left: 0px;
		width: 400px;
	}
	.table-center{
		margin: 15px auto;
	}
	.padding-spaceleft{
		padding: 0px;
	}
	.padding-spaceright{
		padding: 0px;
	}
}

/* text style class */

.text-justify{
	text-align: justify;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}

/* about me text & image style */

.flotteleft{
	float: left;
}
.flotteright{
	float: right;
}
.padding-spaceright{
	padding: 0px 40px 0px 0px;
}
.padding-spaceleft{
	padding: 0px 0px 0px 40px;
}
#aboutme{
	width: 300px;
	padding-top: 0.4px;
}
#aboutmediv{
	padding-left: 90px;
	padding-right: 90px;
}
#border-picture{
	border-radius: 30px;
}

/* links style */


/* list style */

.list-inline{
	list-style: none;
	padding-left: 265px;
}
.list-inline li{
	display: inline;
	padding: 10px;
}
.list-inline i{
	font-size: 40px;
}
.list-inline i{
	color: #005792;
}
.list-inline i:hover{
	color: #a26ea1;
}
.list-inline i{
	transition:color 0.3s ease;
}
#aboutme{
	list-style: none;
	width: 500px;
}
#pictolink{
	text-align: center;
}
#links li{
	text-align: center;
}

/* table style */


/* button style */

.btn-darkblue{
	background-color: #005792;
	color: white;
	padding: 12px 17px;
	border-radius: 10px;
	transition: 0.3s ease;
}
.btn-darkblue:hover{
	background-color: #a26ea1;
	color: white;
}
#bouton-lewagon{
	margin-top: 30px;
}