
/* titles style */

h1{
	color: #434343;
	font-size: 30px;
	font-family: 'Neucha', cursive;
	font-weight: bold;
	text-align: center;
	letter-spacing: 4px;
}
h2{
	color:#005792;
	font-size: 20px;
	font-family: Raleway, sans serif;
	font-weight: bold;
	text-align: center;
}
h3{
	color: #005792;
	font-size: 15px;
	font-family: Raleway, sans serif;
	font-weight: bold;
	text-align: center;
}
h4{
	color: #434343;
	font-size: 14px;
	font-family: Raleway, sans serif;
	font-weight: lighter;
	letter-spacing: 2px;
	text-align: center;
}
h5{
	color: #005792;
	font-size: 14px;
	font-family: Raleway, sans serif;
	font-weight: normal;
	letter-spacing: 2px;
	text-align: center;
	margin-bottom: 0px;
}
body{
	color: #434343;
	font-size: 14px;
	font-family: Raleway, sans serif;
	font-weight: lighter;
	background-image: url(images/wallpaper.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	width: 1200px;
	margin: 30px auto;
}

/* link style */

a{
	color: #a26ea1;
	text-decoration:none;
	transition:color 0.3s ease;
}
a:hover{
	color: #005792;
	text-decoration: none;
}

/* main style */

.card-pinkshadow{
	background: rgba(255,0,0,0.7);
	padding: 10px 60px 30px 60px;
	border-radius: 7px;
	box-shadow: 0 10px 30px rgba(255,0,0,0.8);
	text-align: center;
	margin: 20px 0px;
	}
.container{
	width: 700px;
	margin: 30px auto;
}
@media(min-width: 760px){
	.table-center{
		margin: 30px auto;
	}
}
@media(max-width: 760px){
	.container{
		width: 600px; 
	}
	#links{
		padding-left: 212px;
	}
	.table-center{
		margin: 20px auto;
	}	
}
@media(max-width: 500px){
	.container{
		width: 400px;
	}
	.card-pinkshadow li{
		width: 400px;
	}
	.table-center{
		margin: 15px auto;
	}
	.version500px{
		width: 80px;
		height: 60px;
	}
		#links {
		padding-left: 112px;
	}
	h3 {
		font-size: 9px;
	}
	h2 {
		font-size: 16px;
	}
	.list-inline i{
		align-items: center;
	}
}

/* text style class */

.text-justify{
	text-align: justify;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}

/* about me text & image style */

#aboutme {
	list-style: none;
	text-align: center;
}
.border-picture{
	border-radius: 50%;
}	

/* links style */


/* list style */

.list-inline{
	list-style: none;
	padding-left: 265px;
}
.list-inline li{
	display: inline;
	padding: 10px;
}
.list-inline i{
	font-size: 40px;
}
.list-inline i{
	color: #005792;
}
.list-inline i:hover{
	color: #a26ea1;
}
.list-inline i{
	transition:color 0.3s ease;
}
#pictolink{
	text-align: center;
}
#links li{
	text-align: center;
}

/* table style */


/* button style */

.btn-darkblue{
	background-color: #005792;
	color: white;
	padding: 12px 17px;
	border-radius: 10px;
	transition: 0.3s ease;
}
.btn-darkblue:hover{
	background-color: #a26ea1;
	color: white;
}
#bouton-lewagon{
	margin-top: 30px;
}